<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neuton&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- SELECT2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.all.min.js"></script>
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- CSS PROPIO -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>BAKLOG-Y&V</title>
</head>

<body>
    <nav class="navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="nav navbar-nav navbar-center" href='/'>

                <img src="../../images/LOGO.png " width="100" class="rounded mx-auto d-block bx bxl bx-md bx-flashing ">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active bx-burst-hover m-2" aria-current="page" href="/empleados">RECURSOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active bx-burst-hover m-2" href="/proyectos">PROYECTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active bx-burst-hover m-2" href="#">DISTRIBUCION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active bx-burst-hover m-2" href="/staffing">STAFFING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active bx-burst-hover m-2" href="#">RECURSOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active bx-burst-hover m-2" href="#">NOMINA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active bx-burst-hover m-2" href="/backlog">BACKLOG</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>