<%- include ./layouts/cabecera.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <br>
    <br>


    <div class="container">
        <label for="clima">Seleccione el tipo de clima de hoy: </label>
        <select id="clima">
            <option value="">--Haga una elección--</option>
            <option value="soleado">Soleado</option>
            <option value="lluvioso">Lluvioso</option>
            <option value="nevando">Nevando</option>
            <option value="nublado">Nublado</option>
        </select>

        <p></p>
    </div>



    <h1 class="text-center">BACKLOG CONSOLIDADO PROYECTOS UDN COLOMBIA</h1>
    <br>

    <div class="container-fluid">
        <table class="table-primary table-sm table-hover table-responsive text-center ">

            <thead class="thead bg-info ">
                <h2 class="blockquote text-center">BACKLOG ASIGNADO</h2>
                <tr>
                    <th scope="col" colspan="6">NOMINA GPM & GST</th>
                    <th scope="col">TOTAL</th>
                    <th scope="col">fecha1</th>
                    <th scope="col">fecha2</th>
                    <th scope="col">fecha3</th>
                    <th scope="col">fecha4</th>
                    <th scope="col">fecha5</th>
                    <th scope="col">fecha6</th>
                    <th scope="col">fecha7</th>
                    <th scope="col">fecha8</th>
                    <th scope="col">fecha9</th>
                    <th scope="col">fecha10</th>
                    <th scope="col">fecha11</th>
                    <th scope="col">fecha12</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td colspan="5"></td>
                    <td>IM</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="5"></td>
                    <td>MP</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="5"></td>
                    <td>ME/FV</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="5"></td>
                    <td>ME/FV</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="5">TOTAL FACTURABLE</td>
                    <td>ME/FV</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="5"></td>
                    <td>FP</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="5"></td>
                    <td>MP</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="5"></td>
                    <td>OM</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="5"></td>
                    <td>CS</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
        <table class="table-primary table-sm table-hover table-responsive text-center">
            <thead class="thead bg-info">
                <h2 class="blockquote text-center">BACKLOG ASIGNADO</h2>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">TARIFA</th>
                    <th scope="col">VENTARrem</th>
                    <th scope="col">COD</th>
                    <th scope="col">BACKLOG</th>
                    <th scope="col">GP</th>
                    <th scope="col">HHrem</th>
                    <th scope="col">fecha1</th>
                    <th scope="col">fecha2</th>
                    <th scope="col">fecha3</th>
                    <th scope="col">fecha4</th>
                    <th scope="col">fecha5</th>
                    <th scope="col">fecha6</th>
                    <th scope="col">fecha7</th>
                    <th scope="col">fecha8</th>
                    <th scope="col">fecha9</th>
                    <th scope="col">fecha10</th>
                    <th scope="col">fecha11</th>
                    <th scope="col">fecha12</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3082</td>
                    <td>ECP SAT ABASTECIMIENTO</td>
                    <td>IM</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3083</td>
                    <td>HOCOL</td>
                    <td>MP</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3084</td>
                    <td>CM FRONTERA 100% LIVIANOS NEW </td>
                    <td>ME/FV</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3085</td>
                    <td>CM FRONTERA PESADOS NEW</td>
                    <td>ME/FV</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3086</td>
                    <td>ODS FRONTERA</td>
                    <td>ME/FV</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3088</td>
                    <td>MANSAROVAR RETIE</td>
                    <td>FP</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3090</td>
                    <td>CENIT</td>
                    <td>MP</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3091</td>
                    <td>GEOPARK</td>
                    <td>OM</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3092</td>
                    <td>ECP PROTECCIONES RUBIALES</td>
                    <td>CS</td>
                    <td>18.600,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <table class="table-danger table-sm table-hover table-responsive text-center">
            <thead class="thead bg-danger">
                <h2 class="blockquote text-center">BACKLOG TOTAL</h2>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">TARIFA</th>
                    <th scope="col">VENTARrem</th>
                    <th scope="col">COD</th>
                    <th scope="col">BACKLOG</th>
                    <th scope="col">GP</th>
                    <th scope="col">HHrem</th>
                    <th scope="col">fecha1</th>
                    <th scope="col">fecha2</th>
                    <th scope="col">fecha3</th>
                    <th scope="col">fecha4</th>
                    <th scope="col">fecha5</th>
                    <th scope="col">fecha6</th>
                    <th scope="col">fecha7</th>
                    <th scope="col">fecha8</th>
                    <th scope="col">fecha9</th>
                    <th scope="col">fecha10</th>
                    <th scope="col">fecha11</th>
                    <th scope="col">fecha12</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3084</td>
                    <td>CM FRONTERA 100% LIVIANO</td>
                    <td>ME/FV</td>
                    <td>31.620,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3085</td>
                    <td>CM FRONTERA PESADO </td>
                    <td>ME/FV</td>
                    <td>31.620,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3083</td>
                    <td>HOCOL CONTRATO MARCO</td>
                    <td>FP</td>
                    <td>31.620,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3087</td>
                    <td>TGI LNG</td>
                    <td></td>
                    <td>31.620,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>3091</td>
                    <td>GEOPARK CM</td>
                    <td>OM</td>
                    <td>31.620,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <table class="table-success table-sm table-hover table-responsive text-center">
            <thead class="thead bg-success">
                <h2 class="blockquote text-center">BACKLOG TOTAL MAS PROYECCION</h2>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">TARIFA</th>
                    <th scope="col">VENTARrem</th>
                    <th scope="col">TOTAL + PROYECCION</th>
                    <th scope="col">GO</th>
                    <th scope="col">GET</th>
                    <th scope="col">100%HH</th>
                    <th scope="col">fecha1</th>
                    <th scope="col">fecha2</th>
                    <th scope="col">fecha3</th>
                    <th scope="col">fecha4</th>
                    <th scope="col">fecha5</th>
                    <th scope="col">fecha6</th>
                    <th scope="col">fecha7</th>
                    <th scope="col">fecha8</th>
                    <th scope="col">fecha9</th>
                    <th scope="col">fecha10</th>
                    <th scope="col">fecha11</th>
                    <th scope="col">fecha12</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>ECP PROTECCIONES PUTUMAYO HUILA</td>
                    <td>90%</td>
                    <td>90%</td>
                    <td>31.620,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>INTESA</td>
                    <td>90%</td>
                    <td>90%</td>
                    <td>31.620,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>55000</td>
                    <td>55000</td>
                    <td>OTROS</td>
                    <td>90%</td>
                    <td>90%</td>
                    <td>31.620,00</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <br>
        <br>
        <div class="container text-center">
            <h2 class="blockquote text-center">BACKLOG CONSOLIDADO PROYECTOS UDN COLOMBIA</h2>
            <br>
            <br>
            <canvas id="backlog" style="width:80%;max-width:80px mx-50px"></canvas>
            <script>
                var xValues = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];


                new Chart("backlog", {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [{
                            data: [1587, 1140, 1060, 1060, 100, 1110, 1401, 2210, 3220, 1667],
                            borderColor: "red",
                            fill: false
                        }, {
                            data: [3220, 1570, 3772, 1900, 1667, 1401, 4000, 1667, 3772, 7000],
                            borderColor: "green",
                            fill: false
                        }, {
                            data: [3060, 6450, 3500, 530, 3580, 6130, 3040, 1879, 200, 2481],
                            borderColor: "blue",
                            fill: false
                        }]
                    },
                    options: {
                        legend: { display: false }
                    }
                });

            </script>

            <br>
            <br>
        </div>

    </div>


    <script>
        let seleccionar = document.querySelector('select');
        let parrafo = document.querySelector('p');

        seleccionar.addEventListener('change', establecerClima);

        function establecerClima() {
            let eleccion = seleccionar.value;

            if (eleccion === 'soleado') {
                parrafo.textContent = 'El día esta agradable y soleado hoy. ¡Use pantalones cortos! Ve a la playa o al parque y come un helado.';
            } else if (eleccion === 'lluvioso') {
                parrafo.textContent = 'Está lloviendo, tome un abrigo para lluvia y un paraguas, y no se quede por fuera mucho tiempo.';
            } else if (eleccion === 'nevando') {
                parrafo.textContent = 'Está nevando ─ ¡está congelando! Lo mejor es quedarse en casa con una taza caliente de chocolate, o hacer un muñeco de nieve.';
            } else if (eleccion === 'nublado') {
                parrafo.textContent = 'No está lloviendo, pero el cielo está gris y nublado; podría llover en cualquier momento, así que lleve un saco solo por si acaso.';
            } else {
                parrafo.textContent = '';
            }
        }


    </script>

    <%- include ./layouts/pie.ejs %>