<%- include ./layouts/cabecera.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <br>
    <br>
    <div class="container-fluid">

        <canvas id="myChart" style="width:80%;max-width:100px mx-auto"></canvas>
        <script>
            var xValues = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];


            new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        data: [1587, 1140, 1060, 1060, 100, 1110, 1401, 2210, 3220, 1667],
                        borderColor: "red",
                        fill: false
                    }, {
                        data: [1600, 1350, 3500, 1900, 1667, 1401, 2332, 3772, 1587, 1667],
                        borderColor: "brown",
                        fill: false
                    }, {
                        data: [3772, 4500, 1700, 1900, 2340, 1587, 4344, 5050, 6000, 7450],
                        borderColor: "orange",
                        fill: false
                    }, {
                        data: [2332, 1400, 1401, 1900, 3772, 2430, 4000, 1401, 6350, 3220],
                        borderColor: "black",
                        fill: false
                    }, {
                        data: [3220, 1570, 3772, 1900, 1667, 1401, 4000, 1667, 3772, 7000],
                        borderColor: "green",
                        fill: false
                    }, {
                        data: [3060, 6450, 3500, 530, 3580, 6130, 3040, 1879, 200, 2481],
                        borderColor: "blue",
                        fill: false
                    }]
                },
                options: {
                    legend: { display: false }
                }
            });

        </script>

        <br>
        <br>
    </div>
    <div class="container-fluid">
        <table class="table table-responsive text-center">
            <thead class="thead bg-info  text-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">TARIFA</th>
                    <th scope="col">VENTARrem</th>
                    <th scope="col">COD</th>
                    <th scope="col">BACKLOG ASIGNADO</th>
                    <th scope="col">GP</th>
                    <th scope="col">HHrem</th>
                    <th scope="col">fecha1</th>
                    <th scope="col">fecha2</th>
                    <th scope="col">fecha3</th>
                    <th scope="col">fecha4</th>
                    <th scope="col">fecha5</th>
                    <th scope="col">fecha6</th>
                    <th scope="col">fecha7</th>
                    <th scope="col">fecha8</th>
                    <th scope="col">fecha9</th>
                    <th scope="col">fecha10</th>
                    <th scope="col">fecha11</th>
                    <th scope="col">fecha12</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-responsive text-center">
            <thead class="thead bg-success">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">TARIFA</th>
                    <th scope="col">VENTARrem</th>
                    <th scope="col">COD</th>
                    <th scope="col">BACKLOG TOTAL</th>
                    <th scope="col">GP</th>
                    <th scope="col">HHrem</th>
                    <th scope="col">fecha1</th>
                    <th scope="col">fecha2</th>
                    <th scope="col">fecha3</th>
                    <th scope="col">fecha4</th>
                    <th scope="col">fecha5</th>
                    <th scope="col">fecha6</th>
                    <th scope="col">fecha7</th>
                    <th scope="col">fecha8</th>
                    <th scope="col">fecha9</th>
                    <th scope="col">fecha10</th>
                    <th scope="col">fecha11</th>
                    <th scope="col">fecha12</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
        <table class="table  table-responsive text-center">
            <thead class="thead bg-danger">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">TARIFA</th>
                    <th scope="col">VENTARrem</th>
                    <th scope="col">COD</th>
                    <th scope="col">TOTAL + PROYECCION</th>
                    <th scope="col">GP</th>
                    <th scope="col">HHrem</th>
                    <th scope="col">fecha1</th>
                    <th scope="col">fecha2</th>
                    <th scope="col">fecha3</th>
                    <th scope="col">fecha4</th>
                    <th scope="col">fecha5</th>
                    <th scope="col">fecha6</th>
                    <th scope="col">fecha7</th>
                    <th scope="col">fecha8</th>
                    <th scope="col">fecha9</th>
                    <th scope="col">fecha10</th>
                    <th scope="col">fecha11</th>
                    <th scope="col">fecha12</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>

    </div>
    <%- include ./layouts/pie.ejs %>