<%- include ./layouts/cabecera.ejs %>
<br>
<br>

        <span>DIRECTORIO ACTIVO DE EMPLEADOS</span>
    <img class="img-fluid mx-auto d-block bx-flashing" width="400" src="images/descarga.PNG" alt="">


    <%- include ./layouts/pie.ejs %>