body {
    font-family: "sans-serif" Gill Sans Extrabold, Helvetica, sans-serif
}


H1 {
    font-family: 'Neuton', serif;
    font-size: 50px;
}

thead {
    background: linear-gradient(to bottom, black, orange);
}
thead tr th {
    text-decoration: none;
    color: white !important;
    position: sticky;
    top: 0;
    z-index: 10;
    
}
thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;
    background: linear-gradient(to bottom, black, orange);
}


nav {
    background: linear-gradient(to bottom, black, orange);
  
}

