body {
    font-family: "sans-serif" Gill Sans Extrabold, Helvetica, sans-serif
}


H1 {
    font-family: 'Neuton', serif;
    font-size: 50px;
}

thead {
    background: linear-gradient(to right, black, orange, black);
}
thead tr th {
    text-decoration: none;
    color: white !important;
}

nav {
    background: linear-gradient(to right, black, orange, black, orange, black);
  
}
