H1 {
    font-family: "Tiro Telugu" ,Gill Sans Extrabold , sans-serif, Helvetica;
    font-size: 50px;
    box-shadow: 2px 2px 50px rgb(146, 119, 0);
    text-align: center;
}

thead tr th {
    text-decoration: none;
    color: white !important;

}

thead tr th {
    background: linear-gradient(to bottom, black, orange);
}


nav {
    background: linear-gradient(to bottom, black, orange);

}


i{
    margin-bottom:1px;
    border: 1px solid transparent;
    font-size:70px;
    
    
    
  }
  
  
  .btn {
    display: inline-flex;
    font-size: 35px;
    font-weight: 40px;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
}
  
  
  
  /*
  Esto es opcional pero sirve para que todos los botones de exportacion se distribuyan de manera equitativa usando flexbox
  
  .flexcontent {
      display: flex;
      justify-content: space-around;
  }
  */
  
  .selectTable{
    margin-top: 1px;
    text-align: center;
  }
  
  div.dataTables_wrapper div.dataTables_filter {
      margin-top: 1px;
      
  }
  
  .btn-secondary {
      color: rgb(0, 0, 0);
      background-color: transparent;
      border-color: none;
      margin-top: 1px;
  }
  .btn-secondary:hover {
      color: rgb(0, 0, 0);
      background-color: #ffd000;
      border-color: #000000;
  }
  
  .inline{
    display:inline-block;
    padding:0;
  }
  



/*--------------------------------------------*/