<%- include ../layouts/cabecera.ejs %>
    <div class="container-fluid">
        <br>
        <br>

        <div class="card">
            <div class="card-body">
                <br>
                <h1>AGREGAR A STAFFING</h1>
                <br>
                <div class="container shadow p-3 mb-5 bg-white rounded">
                    <form method="post" action="">
                        <div class="container">
                            <br>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h2>RECURSO</h2>
                                        <label for="my-select"></label>
                                        <select id="my-select" class="form-control" name="">
                                            <option>Seleccione al empleado</option>
                                        </select>
                                    </div>
                                    <div>
                                        <h2>tabla donde se traen los datos del empleado</h2>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <H2>PROYECTO</H2>
                                        <label for="my-select"></label>
                                        <select id="my-select" class="form-control" name="">
                                            <option>Seleccione al proyecto</option>
                                        </select>
                                    </div>
                                    <div>
                                        <h2>tabla donde se traen los datos del proyecto</h2>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <br>
                                <form>
                                    <div class="form-row align-items-center">
                                        <div class="col-4">
                                            <h3>Fecha inicial</h3>
                                            <input type="date" class="form-control"
                                                placeholder="Seleccionar fecha Inicial">
                                        </div>
                                        <div class="col-4">
                                            <h3>Fecha final</h3>

                                            <input type="date" class="form-control"
                                                placeholder="Seleccionar fecha Final">
                                        </div>
                                        <div class="col-4">
                                            <h3>Asignación</h3>
                                            <input type="text" class="form-control" placeholder="Asignacion">
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <div class="row w-100 align-items-center">
                                    <div class="col text-center"><button type="submit"
                                            class="btn btn-outline-warning"><i
                                            class='bx bxs-chevrons-down bx-md bx-fade-down-hover'></i></button>
                                    </div>   <i class=' ' ></i>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div>
                                <h2>tabla donde aparecen los datos del proyecto afignado a enviar a sftaffing</h2>

                                <div class="row w-100 align-items-center">
                                    <div class="col text-center">

                                        <button type="submit" class="btn btn-outline-warning"><i
                                                class='bx bx-check-circle bx-md'></i></button>
                                        <a href="../staffing/" class="btn btn-outline-danger"><i
                                                class='bx bx-x-circle bx-md '></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

    </div>
    <%- include ../layouts/pie.ejs %>